*{
    box-sizing: border-box;
}
body{
    background: #edeaff;
}
.stopwatch{
    width: 80%;
    max-width: 600px;
    height: 42vh;
    background-image:linear-gradient(135deg,rgba(0,0,0,0.75),rgba(0,0,0,0.7)),url(stopwatchresrc/background.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.stopwatch h1{
    margin-top: 30px;
    font-size: 48px;
    font-weight: 300;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}
#stop:hover{
    width: 60px;
}
#start:hover{
    width: 70px;
}
#reset:hover{
    width: 60px;
}
.buttons img:nth-child(2){
    width: 60px;
}